.root {
  & tr:first-of-type td {
    border-top: 1px solid var(--mantine-color-gray-3);
  }
  & tr:last-of-type td {
    border-bottom: 1px solid var(--mantine-color-gray-3);
  }
}

.root-grid {
  display: grid;
}

.root-semantic-not-resizing {
  table-layout: fixed;
}
