.MRT_TableHeadCellResizeHandle {
  cursor: col-resize;
  margin-right: var(--margin-right);
  position: absolute;
  right: 4px;
  padding-left: 1px;
  padding-right: 2px;
  transform: var(--transform);
  &:active > .mantine-Divider-vertical {
    border-left-color: var(--mantine-color-default);
  }
}

.MRT_TableHeadCellResizeHandleDivider {
  border-radius: 2px;
  border-width: 4px;
  height: 24px;
  touch-action: none;
  transition: var(--transition);
  user-select: none;
  z-index: 4;
}
