.MRT_TableHeadCell {
  flex-direction: var(--flex-direction);
  font-weight: bold;
  overflow: visible;
  padding: var(--padding);
  user-select: var(--user-select);
  vertical-align: top;
  z-index: var(--z-index);
  @mixin hover {
    .mantine-ActionIcon-root {
      opacity: 1;
    }
  }
}

.content {
  align-items: flex-start;
  position: relative;
  width: 100%;
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
}

.labels {
  align-items: center;
  cursor: var(--labels-cursor);
  flexdirection: var(--labels-flex-direction);
  overflow: var(--labels-overflow);
  padding-left: var(--labels-padding-left);
}

.wrapper {
  text-overflow: ellipsis;
  overflow: var(--wrapper-overflow);
  white-space: var(--wrapper-whitespace);
}

.actions {
  align-items: center;
  align-self: center;
  whitespace: nowrap;
}
