.MRT_TableHeadRow {
  box-shadow: 0 4px var(--box-shadow);
  display: var(--display);
  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }

  @mixin light {
    background-color: var(--mantine-color-white);
  }
}

.MRT_TableHeadRowSticky {
  position: sticky;
  top: 0;
}
