.root {
  position: relative;
}

.root-grid {
  display: grid;
}

.root-no-rows {
  min-height: 100px;
}

.root-virtualized {
  height: calc(var(--mrt-table-body-height) * 1px);
}

.empty-row-tr-grid {
  display: grid;
}

.empty-row-td-grid {
  display: grid;
}

.empty-row-td-content {
  color: var(--mantine-color-gray-3);
  font-style: italic;
  max-width: min(100vw, calc(var(--mrt-paper-width) * 1px));
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}
