.MRT_TableBodyRow {
  box-sizing: border-box;
  width: 100%;
  transition: all 100ms ease-in-out;
  display: var(--display);
}

.MRT_TableBodyRowHover {
  @mixin hover {
    &[data-selected="true"] > td {
      background-color: var(--mantine-primary-color-filled)
    }
    &[data-selected="false"] > td {
        @mixin dark {
          background-color: var(--dark-bg-color);
        }
        @mixin light {
          background-color: var(--light-bg-color);
        }
    }
  }
}

.MRT_TableBodyRowVirtual {
  position: absolute;
  top: 0;
  transition: none !important;
}
