.root {
  background-clip: padding-box;
  overflow: hidden;
  transition: padding 100ms ease-in-out;
  @mixin hover {
    outline-offset: -1px;
    text-overflow: clip;
  }
}

.root-default-background {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.root-inherit-background-color {
  background-color: inherit;
}

.root-grid {
  align-items: center;
  justify-content: var(--mrt-table-cell-justify, flex-start);
  display: flex;
}

.root-data-col {
  text-overflow: ellipsis;
}

.root-nowrap {
  white-space: nowrap;
}

.root-cursor-pointer {
  cursor: pointer;
}

.root-editable-hover {
  @mixin hover {
    outline: 1px solid var(--mantine-color-gray-7);
  }
}

.root-virtualized {
  transition: none;
}

.root-pinned-color {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.root-pinned {
  z-index: 1;
  position: sticky;
}

.root-pinned-left {
  left: calc(var(--mrt-table-cell-left, 0) * 1px);
}

.root-pinned-right {
  right: calc(var(--mrt-table-cell-right, 0) * 1px);
}

.root-pinned-left-last {
  box-shadow: -4px 0 8px -6px light-dark(
      var(--mantine-color-gray-outline),
      var(--mantine-color-dark-outline)
    ) inset;
}

.root-pinned-right-first {
  box-shadow: 4px 0 8px -6px light-dark(
      var(--mantine-color-gray-outline),
      var(--mantine-color-dark-outline)
    ) inset;
}

.root-expand-depth {
  padding-left: calc(calc(var(--mrt-row-depth, 0) + 1) * 1rem);
}

.root-opacity {
  opacity: 0.5;
}

.root-dragging {
  z-index: 2;
}
