.root {
  box-sizing: border-box;
  width: 100%;
  transition: all 100ms ease-in-out;

  &[data-selected='true'] {
    background-color: var(--mantine-primary-color-light);
  }
}

.root-grid {
  display: flex;
}

.root-hover {
  &:hover td {
    @mixin dark {
      background-color: var(--mantine-color-gray-light-hover);
    }
    @mixin light {
      background-color: var(--mantine-color-dark-light-hover);
    }
  }

  &[data-selected='true'] {
    &:hover td {
      background-color: var(--mantine-primary-color-light-hover);
    }
  }
}

.root-virtualized {
  position: absolute;
  top: 0;
  transition: none !important;
}
