.root {
  display: table-row;
  width: 100%;
}

.root-grid {
  display: flex;
}

.root-virtual-row {
  position: absolute;
  top: var(--mrt-parent-row-height);
  transform: translateY(var(--mrt-virtual-row-start));
  z-index: 2;
}

.inner {
  display: table-cell;
  transition: all 100ms ease-in-out;
  width: var(--mrt-inner-width);
}

.inner-grid {
  display: flex;
}

.inner-expanded {
  border-bottom: rem(1px) solid var(--_table-border-color);
}

.inner-virtual {
  background-color: var(--mantine-color-dark-7);
}
