.root {
  background-color: var(--mrt-base-background-color);
  opacity: 0.97;
  position: relative;
}

.root-grid {
  display: grid;
}

.root-table-row-group {
  display: table-row-group;
}

.root-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}

.banner-tr {
  display: table-row;
}

.banner-th {
  display: table-cell;
  padding: 0;
}

.grid {
  display: grid;
}
