.root {
  cursor: col-resize;
  position: absolute;
  border-radius: 2px;
  right: 0px;
  width: 3px;
  height: 24px;
  margin-right: -10px;
  &:global(.md) {
    margin-right: -16px;
  }
  &:global(.xl) {
    margin-right: -22px;
  }
  background: var(--mantine-color-placeholder);
  &:hover {
    background: var(--mantine-primary-color-filled-hover);
  }
  &:active {
    background: var(--mantine-primary-color-filled);
  }
  transform: var(--mrt-transform);
}
