.root {
  --resize-border-color: var(--mantine-primary-color-filled);
  --hover-color: var(--mantine-primary-color-filled);
  --drag-color: var(--mantine-color-gray-7);
  --resize-thickness: 2px;
  --hover-thickness: 2px;
  --drag-thickness: 1px;

  background-clip: padding-box;
  overflow: hidden;
  transition: padding 100ms ease-in-out;
  @mixin hover {
    outline-offset: -1px;
    text-overflow: clip;
  }
}

.root-default-background {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.root-inherit-background-color {
  background-color: inherit;
}

.root-grid {
  align-items: center;
  justify-content: var(--mrt-table-cell-justify, flex-start);
  display: flex;
}

.root-data-col {
  text-overflow: ellipsis;
}

.root-nowrap {
  white-space: nowrap;
}

.root-cursor-pointer {
  cursor: pointer;
}

.root-editable-hover {
  @mixin hover {
    outline: 1px solid var(--mantine-color-gray-7);
  }
}

.root-virtualized {
  transition: none;
}

.root-pinned {
  z-index: 1;
  position: sticky;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  opacity: 0.98;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.root-pinned-left {
  left: calc(var(--mrt-table-cell-left, 0) * 1px);
}

.root-pinned-right {
  right: calc(var(--mrt-table-cell-right, 0) * 1px);
}

.root-pinned-left-last {
  box-shadow: -4px 0 8px -6px light-dark(
      var(--mantine-color-gray-outline),
      var(--mantine-color-dark-outline)
    ) inset;
}

.root-pinned-right-first {
  box-shadow: 4px 0 8px -6px light-dark(
      var(--mantine-color-gray-outline),
      var(--mantine-color-dark-outline)
    ) inset;
}

.root-expand-depth {
  padding-left: calc(calc(var(--mrt-row-depth, 0) + 1) * 1rem);
}

.resizing-ltr {
  border-right: var(--resize-thickness) solid var(--resize-border-color);
}

.resizing-rtl {
  border-left: var(--resize-thickness) solid var(--resize-border-color);
}

.dragging-column {
  z-index: 2;
  border-left: var(--drag-thickness) dashed var(--drag-color);
  border-right: var(--drag-thickness) dashed var(--drag-color);
  &.last-row {
    border-bottom: var(--drag-thickness) dashed var(--drag-color);
  }
}

.hovered-column {
  opacity: 0.5;
  border-left: var(--hover-thickness) dashed var(--hover-color);
  border-right: var(--hover-thickness) dashed var(--hover-color);
  &.last-row {
    border-bottom: var(--hover-thickness) dashed var(--hover-color);
  }
}

.dragging-row {
  z-index: 2;
  border-top: var(--drag-thickness) dashed var(--drag-color);
  border-bottom: var(--drag-thickness) dashed var(--drag-color);
  &.last-column {
    border-right: var(--drag-thickness) dashed var(--drag-color);
  }
  &.first-column {
    border-left: var(--drag-thickness) dashed var(--drag-color);
  }
}

.hovered-row {
  opacity: 0.5;
  border-top: var(--hover-thickness) dashed var(--hover-color);
  border-bottom: var(--hover-thickness) dashed var(--hover-color);
  &.last-column {
    border-right: var(--hover-thickness) dashed var(--hover-color);
  }
  &.first-column {
    border-left: var(--hover-thickness) dashed var(--hover-color);
  }
}
