.root {
  --hover-color: var(--mantine-primary-color-filled);
  --drag-color: var(--mantine-color-gray-7);
  --hover-thickness: 3px;
  --drag-thickness: 1px;

  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  width: 100%;

  &[data-selected] {
    background-color: var(--mantine-primary-color-light);

    td {
      &[data-column-pinned] {
        background-color: light-dark(
          var(--mantine-color-white),
          var(--mantine-color-dark-7)
        );

        &:before {
          background-color: var(--mantine-primary-color-light);
        }
      }
    }
  }

  &[data-row-pinned] {
    bottom: calc(var(--mrt-pinned-row-bottom, unset) * 1px);
    opacity: 0.98;
    top: calc(var(--mrt-pinned-row-top, unset) * 1px);
    td {
      background-color: light-dark(
        var(--mantine-color-dark-0),
        var(--mantine-color-dark-8)
      );
    }
  }

  &[data-row-pinned='sticky'] {
    z-index: 2;
    position: sticky;
  }

  &[data-hover] {
    &:hover {
      td {
        background-color: light-dark(
          var(--mantine-color-dark-light-hover),
          var(--mantine-color-gray-light-hover)
        );

        &[data-column-pinned] {
          background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-dark-7)
          );

          &:before {
            background-color: light-dark(
              var(--mantine-color-dark-light-hover),
              var(--mantine-color-gray-light-hover)
            );
          }
        }
      }
      &[data-selected] {
        td {
          background-color: var(--mantine-primary-color-light-hover);

          &[data-column-pinned] {
            background-color: light-dark(
              var(--mantine-color-white),
              var(--mantine-color-dark-7)
            );

            &:before {
              background-color: var(--mantine-primary-color-light-hover);
            }
          }
        }
      }
    }
  }

  &[data-dragging-row] {
    opacity: 0.5;
    border-bottom: var(--drag-thickness) dashed var(--drag-color);
    border-top: var(--drag-thickness) dashed var(--drag-color);
    td {
      &:first-child {
        border-left: var(--drag-thickness) dashed var(--drag-color);
      }
      &:last-child {
        border-right: var(--drag-thickness) dashed var(--drag-color);
      }
    }
  }

  &[data-hovered-row-target] {
    td {
      opacity: 0.5;
      border-top: var(--hover-thickness) dashed var(--hover-color);
      border-bottom: var(--hover-thickness) dashed var(--hover-color);
      &:first-child {
        border-left: var(--hover-thickness) dashed var(--hover-color);
      }
      &:last-child {
        border-right: var(--hover-thickness) dashed var(--hover-color);
      }
    }
  }
}

.root-grid {
  display: flex;
}

.root-virtualized {
  position: absolute;
  top: 0;
  transition: none !important;
  transform: translateY(calc(var(--mrt-virtual-row-start) * 1px));
  will-change: transform;
}
