.root {
  box-sizing: border-box;
  width: 100%;
  transition: all 150ms ease-in-out;

  &[data-selected='true'] {
    background-color: var(--mantine-primary-color-light);

    td {
      &[data-pinned='true'] {
        background-color: light-dark(
          var(--mantine-color-white),
          var(--mantine-color-dark-7)
        );

        &:before {
          background-color: var(--mantine-primary-color-light);
        }
      }
    }
  }
}

.root-grid {
  display: flex;
}

.root-hover {
  &:hover {
    td {
      background-color: light-dark(
        var(--mantine-color-dark-light-hover),
        var(--mantine-color-gray-light-hover)
      );

      &[data-pinned='true'] {
        background-color: light-dark(
          var(--mantine-color-white),
          var(--mantine-color-dark-7)
        );

        &:before {
          background-color: light-dark(
            var(--mantine-color-dark-light-hover),
            var(--mantine-color-gray-light-hover)
          );
        }
      }
    }
  }

  &[data-selected='true'] {
    &:hover {
      td {
        background-color: var(--mantine-primary-color-light-hover);

        &[data-pinned='true'] {
          background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-dark-7)
          );

          &:before {
            background-color: var(--mantine-primary-color-light-hover);
          }
        }
      }
    }
  }
}

.root-pinned {
  opacity: 0.98;
  td {
    background-color: light-dark(
      var(--mantine-color-dark-0),
      var(--mantine-color-dark-8)
    );
  }
}

.root-sticky-pinned {
  z-index: 2;
  position: sticky;
}

.root-sticky-pinned-top {
  top: calc(var(--mrt-pinned-row-top, 0) * 1px);
}

.root-sticky-pinned-bottom {
  bottom: calc(var(--mrt-pinned-row-bottom, 0) * 1px);
}

.root-virtualized {
  position: absolute;
  top: 0;
  transition: none !important;
  transform: translateY(calc(var(--mrt-virtual-row-start) * 1px));
}
