.action {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 100ms ease;
  &:hover {
    opacity: 1;
  }
}
