.root {
  --max-height-calc: calc(100vh - calc(var(--mrt-top-toolbar-height) * 1px));
  --max-height: 100%;

  background-color: var(--mrt-base-background-color);
  max-width: 100%;
  position: relative;

  &:has(:global(.mantine-ScrollArea-root)) {
    overflow: unset;
    height: var(--max-height-calc);
  }
}

.root-sticky {
  --max-height: clamp(
    350px,
    var(--max-height-calc),
    9999px
  );
  max-height: var(--max-height)
}

.root-fullscreen {
  --max-height: var(--max-height-calc) !important;
}

.root :global(.mantine-ScrollArea-root) {
  max-height: var(--max-height);

  [data-orientation='vertical'] {
    top: var(--mrt-scroll-offset);
  }
}