.root {
  background-color: var(--mrt-base-background-color);
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

:root {
  /* default background color for everything */
  --mrt-base-background-color: var(--mantine-color-body);

  /* row hover */
  &[data-mantine-color-scheme='light'] {
    --mrt-row-hover-background-color: var(--mantine-color-dark-light-hover);
  }
  &[data-mantine-color-scheme='dark'] {
    --mrt-row-hover-background-color: var(--mantine-color-gray-light-hover);
  }

  /* row selection */
  --mrt-selected-row-background-color: var(--mantine-primary-color-light);
  --mrt-selected-row-hover-background-color: var(
    --mantine-primary-color-light-hover
  );

  /* row pinning */
  &[data-mantine-color-scheme='light'] {
    --mrt-pinned-row-background-color: var(--mantine-color-gray-1);
    --mrt-pinned-row-hover-background-color: var(--mantine-color-gray-2);
  }
  &[data-mantine-color-scheme='dark'] {
    --mrt-pinned-row-background-color: var(--mantine-color-dark-8);
    --mrt-pinned-row-hover-background-color: var(--mantine-color-gray-7);
  }

  /* column pinning */
  &[data-mantine-color-scheme='light'] {
    --mrt-pinned-column-background-color: var(--mantine-color-gray-0);
  }
  &[data-mantine-color-scheme='dark'] {
    --mrt-pinned-column-background-color: var(--mantine-color-dark-8);
  }

  /* cell borders */
  --mrt-dragging-hovered-border-color: var(--mantine-primary-color-filled);
  --mrt-dragging-drag-border-color: var(--mantine-color-gray-7);
  --mrt-resize-column-border-color: var(--mantine-primary-color-filled);
}
