.root {
  font-weight: bold;
  padding: 1rem;
  vertical-align: top;
  z-index: 1;
  &.pinned {
    z-index: 2;
  }
  display: table-row;
  &.grid {
    display: grid;
  }
  text-align: left;
  &.group {
    text-align: center;
    justify-content: center;
  }
}
