.MRT_TableFooterCell {
  font-weight: bold;
  padding: 1rem;
  vertical-align: top;
  z-index: var(--z-index);
  display: var(--display);

  [data-columndef="group"] {
    justify-content: center;
  }
}
