.root {
  background-color: var(--mrt-base-background-color);
  display: table-row-group;
}

.grid {
  display: grid;
}

.sticky {
  bottom: 0;
  opacity: 0.97;
  position: sticky;
  z-index: 1;
  outline: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
}
