.root {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  text-align: var(--mrt-align, left);
  vertical-align: top;
  z-index: 1;

  &.pinned {
    z-index: 2;
  }

  &.grid {
    display: flex;
    justify-content: var(--mrt-align, flex-start);
  }

  &.group {
    text-align: center;
    justify-content: center;
  }

  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}
