.root {
  font-weight: bold;
  padding: 1rem;
  vertical-align: top;
  z-index: 1;
  border-top: var(--_paper-border);

  &.pinned {
    z-index: 2;
  }

  &.grid {
    display: grid;
  }

  text-align: left;

  &.group {
    text-align: center;
    justify-content: center;
  }

  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}
