.wrapper {
  margin-top: 4rem;
  text-align: center;
}

.wrapper2 {
  padding: 16px 150px 3rem 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @media (max-width: 900px) {
    padding: 16px 16px 2rem 16px;
  }
}

.anchor {
  text-decoration: none;
}

.card {
  align-items: center;
  border-radius: 8px;
  color: var(--TODO_PRIMARY_COLOR);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  text-align: center;
  width: 10rem;

  &:hover {
    box-shadow: 1px 4px 8px black;

    & img {
      transform: scale(1.01);
      transition: transform 150ms ease-in-out;
    }
  }
}
